{% load i18n %}

<div class="space-y-4">
  {% for scale in construct_scales %}
    <div class="bg-white rounded-lg shadow-md overflow-hidden border border-gray-200 hover:shadow-lg transition-shadow duration-200">
      <div class="p-6">
        <div class="flex justify-between items-start mb-4">
          <h3 class="text-lg font-semibold text-gray-900">
            {{ scale.name|default:"Untitled Construct Scale" }}
          </h3>
          <div class="flex space-x-2">
            {% if perms.promapp.change_constructscale %}
              <a href="{% url 'construct_equation_edit' scale.pk %}" 
                 class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 inline-flex items-center"
                 title="{% translate 'Edit equation for this scale' %}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd" />
                </svg>
                {% translate "Equation" %}
              </a>
            {% endif %}
            <a href="{% url 'item_create' %}?construct_scale={{ scale.id }}" 
               class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 inline-flex items-center"
               title="{% translate 'Add item to this scale' %}">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              {% translate "Add Item" %}
            </a>
          </div>
        </div>
        
        <div class="flex justify-between items-center text-sm text-gray-500">
          <div class="flex items-center space-x-4">
            {% if scale.instrument_name or scale.instrument_version %}
              {% if scale.instrument_name %}
                <div class="flex items-center">
                  <span class="font-medium mr-1">{% translate "Instrument:" %}</span>
                  {{ scale.instrument_name }}
                </div>
              {% endif %}
              {% if scale.instrument_version %}
                <div class="flex items-center">
                  <span class="font-medium mr-1">{% translate "Version:" %}</span>
                  {{ scale.instrument_version }}
                </div>
              {% endif %}
            {% else %}
              -
            {% endif %}
            <div class="flex items-center">
              <span class="font-medium mr-1">{% translate "Items:" %}</span>
              {{ scale.item_set.count }}
            </div>
          </div>
          <div class="flex items-center text-gray-600">
            <span class="font-medium mr-1">{% translate "Created:" %}</span>
            {{ scale.created_date|date:"SHORT_DATE_FORMAT" }}
          </div>
        </div>

        {% if scale.scale_equation %}
          <div class="mt-4 p-3 bg-gray-50 rounded-md">
            <div class="text-sm">
              <span class="font-medium text-gray-700">{% translate "Equation:" %}</span>
              <code class="ml-2 text-blue-600 break-all">{{ scale.scale_equation }}</code>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% if is_paginated %}
  <div class="mt-4">
    <nav class="flex justify-center">
      <ul class="flex space-x-2">
        {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" 
               class="px-3 py-1 border rounded hover:bg-gray-50">
              {% translate "Previous" %}
            </a>
          </li>
        {% endif %}
        
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li>
              <span class="px-3 py-1 border rounded bg-blue-50 text-blue-600">{{ num }}</span>
            </li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li>
              <a href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}" 
                 class="px-3 py-1 border rounded hover:bg-gray-50">
                {{ num }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" 
               class="px-3 py-1 border rounded hover:bg-gray-50">
              {% translate "Next" %}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}

