{% extends "promapp/components/item_card_base.html" %}
{% load i18n cotton %}

{% block item_value %}
<div class="text-sm inline-flex items-center" style="background-color: {{ item_response.option_color }}; color: {{ item_response.text_color }}; padding: 0.5rem 0.5rem; border-radius: 0.375rem;">
    {{ item_response.option_text }}
    {% if item_response.previous_value is not None %}
        <span class="ml-2 border-l border-current pl-1 bg-white rounded-r px-2">
            {% if item_response.value_change is None %}
                <span class="text-gray-500">-NA-</span>
            {% elif item_response.value_change > 0 %}
                {% if item_response.questionnaire_item.item.item_better_score_direction == 'Higher is Better' %}
                    <c-icon_trending_up class="text-green-500" />
                    <span class="text-green-500 ml-1">+{{ item_response.value_change|floatformat:0 }}</span>
                {% else %}
                    <c-icon_trending_up class="text-orange-500" />
                    <span class="text-orange-500 ml-1">+{{ item_response.value_change|floatformat:0 }}</span>
                {% endif %}
            {% elif item_response.value_change == 0 %}
                <c-icon_no_change class="text-blue-500" />
                <span class="text-blue-500 ml-1">0.0</span>

            {% elif item_response.value_change < 0 %}
                {% if item_response.questionnaire_item.item.item_better_score_direction == 'Higher is Better' %}
                    <c-icon_trending_down class="text-orange-500" />
                    <span class="text-orange-500 ml-1">{{ item_response.value_change|floatformat:0 }}</span>
                {% else %}
                    <c-icon_trending_down class="text-green-500" />
                    <span class="text-green-500 ml-1">{{ item_response.value_change|floatformat:0 }}</span>
                {% endif %}
            {% endif %}
        </span>
    {% endif %}
</div>
{% endblock %}

{% block item_plot %}
<div class="mt-4 plot-container" id="plot-item-{{ item_response.questionnaire_item.item.id }}" style="min-height: 280px;">
    {{ item_response.bokeh_plot|safe }}
</div>
{% endblock %} 