{% load i18n %}
{% load static %}

<!-- Aggregation Metadata Card -->
{% include "promapp/components/aggregation_metadata_card.html" %}

<!-- Help Card -->
{% include 'promapp/components/help_card.html' %}

<!-- Patient Info Card - Full Width -->
<div class="mb-6">
    {% include "promapp/components/patient_info_card.html" %}
</div>

<!-- Questionnaire Overview - Full Width Below -->
<div class="mb-6">
    {% include "promapp/components/questionnaire_overview_card.html" %}
</div>

<!-- Topline Results -->
{% include "promapp/components/topline_results_section.html" %}

<!-- Construct Scores -->
{% include "promapp/components/construct_scores_section.html" %}

<!-- Item-wise Results -->
{% include "promapp/components/item_results_section.html" %}