{% load i18n %}

<tr class="option-row">
  <td class="px-4 py-2 w-24">
    <input type="number" name="form-{{ form_index }}-option_order" id="id_form-{{ form_index }}-option_order" value="" class="w-full px-3 py-2 border rounded">
  </td>
  <td class="px-4 py-2 w-24">
    <input type="number" name="form-{{ form_index }}-option_value" id="id_form-{{ form_index }}-option_value" value="" class="w-full px-3 py-2 border rounded">
  </td>
  <td class="px-4 py-2">
    <input type="text" name="form-{{ form_index }}-option_text" id="id_form-{{ form_index }}-option_text" value="" class="w-full px-3 py-2 border rounded">
  </td>
  <td class="px-4 py-2">
    <input type="file" name="form-{{ form_index }}-option_media" id="id_form-{{ form_index }}-option_media" class="w-full px-3 py-2 border rounded">
  </td>
  <td class="px-4 py-2 w-16">
    <button type="button" class="remove-option text-red-500 hover:text-red-700" hx-get="{% url 'remove_likert_option' %}" hx-target="closest tr" hx-swap="outerHTML" hx-trigger="click">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
    </button>
  </td>
</tr>

<!-- Update the total forms count -->
<script>
  document.getElementById('id_form-TOTAL_FORMS').value = "{{ form_index|add:1 }}";
</script> 