{% load i18n %}

{# Button Group Component - for grouping related buttons #}
<div class="inline-flex {% if vertical %}flex-col{% else %}flex-row{% endif %} {% if rounded %}rounded-md{% endif %} {% if shadow %}shadow-sm{% endif %} {{ class }}" 
     {% if id %}id="{{ id }}"{% endif %}
     {{ attrs }}>
    {{ slot }}
</div>

{# CSS for button group styling - should be included in your main CSS #}
<style>
.button-group > button:not(:first-child):not(:last-child),
.button-group > a:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-left-width: 0;
}

.button-group > button:first-child,
.button-group > a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group > button:last-child,
.button-group > a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.button-group.vertical > button:not(:first-child):not(:last-child),
.button-group.vertical > a:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-top-width: 0;
    border-left-width: 1px;
}

.button-group.vertical > button:first-child,
.button-group.vertical > a:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button-group.vertical > button:last-child,
.button-group.vertical > a:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}
</style> 